.header {
    background-color: #1c1c1c;
    color: #ecebe4;
    padding: 1rem;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}

.header h1 {
    margin-top: 10px;
}

.hbtn {
    height: 25px;
    width: auto;
    font-family: "Cormorant Garamond", serif;
    font-size: 16px;
    font-weight: 700;
     color: #1c1c1c;
    background-color: #ecebe4;
    border-radius: 5px;
    border: 1px solid white;
    margin: 1rem;
    cursor: pointer;
}

.hbtn:hover {
    text-decoration: solid;
    font-weight: 500;
    background-color: #1c1c1c;
    color: #ecebe4;
}